SUPABASE_URL= https://uwyhixulkwtdcyquvvhz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3eWhpeHVsa3d0ZGN5cXV2dmh6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTk3NjU5OCwiZXhwIjoyMDkxNTUyNTk4fQ.cE_p8wTN8mquiIbYe24nocDxfC8MQBtScw6hCYNNXwI
JWT_SECRET=Zb8DJt4UfJRoQwmT6npvKgNixvP+C55Z9zWCIpcOyYtw9rleky/V3+FUfx7q2o/ZY/codZ+KlAs8XPY6Yy9T8A==

UPSTASH_REDIS_REST_URL="https://optimum-yak-78187.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAATFrAAIncDExNTY4NWQyZmE2MWQ0MTE1YTkwNTM0OWZkZGZmNTkyZHAxNzgxODc"
PORT=4000
